blog/n8n/paragraph-to-mintlify.json
{
  "name": "Paragraph → Mintlify Latest Posts (Top 5)",
  "nodes": [
    {
      "id": "Manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "id": "ListPosts",
      "name": "List Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [600, 300],
      "parameters": {
        "url": "https://api.paragraph.xyz/v1/posts",
        "method": "GET",
        "queryParameters": [
          { "name": "publicationId", "value": "={{$env.PARAGRAPH_PUBLICATION_ID}}" },
          { "name": "limit", "value": "5" }
        ],
        "headers": {
          "x-publication-api-key": "={{$env.PARAGRAPH_API_KEY}}"
        },
        "responseFormat": "json"
      }
    },
    {
      "id": "ExtractIds",
      "name": "Extract Post IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "functionCode": "const posts = items[0].json.data;\nreturn posts.map(p => ({ json: { id: p.id, title: p.title, slug: p.slug }}));"
      }
    },
    {
      "id": "FetchFullPost",
      "name": "Fetch Full Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1200, 300],
      "parameters": {
        "url": "=https://api.paragraph.xyz/v1/posts/{{$json.id}}",
        "method": "GET",
        "headers": {
          "x-publication-api-key": "={{$env.PARAGRAPH_API_KEY}}"
        },
        "responseFormat": "json"
      }
    },
    {
      "id": "SanitizeHTML",
      "name": "HTML → MDX Sanitizer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, 300],
      "parameters": {
        "functionCode": "// Convert Paragraph HTML to valid Mintlify MDX\nfunction clean(html) {\n  return html\n    .replace(/<figure[^>]*>/g, '')\n    .replace(/<\\/figure>/g, '')\n    .replace(/<figcaption[^>]*>[\\s\\S]*?<\\/figcaption>/g, '')\n    .replace(/<iframe[^>]*src=\"([^\"]+)\"[^>]*><\\/iframe>/g, '<Video url=\"$1\" />')\n    .replace(/<img[^>]*src=\"([^\"]+)\"[^>]*>/g, '<img src=\"$1\" />')\n    .replace(/data-type=\"youtube\"[\\s\\S]*?videoId=\"(.*?)\"[\\s\\S]*?<\\/div>/g, '<YouTube videoId=\"$1\" />')\n    .replace(/class=\"[^\"]*\"/g, '')\n    .replace(/ style=\"[^\"]*\"/g, '')\n    .trim();\n}\n\nreturn items.map(item => {\n  const p = item.json.data;\n  return {\n    json: {\n      title: p.title,\n      slug: p.slug,\n      html: clean(p.content.html),\n      date: p.publishedAt\n    }\n  };\n});"
      }
    },
    {
      "id": "BuildMDX",
      "name": "Build Combined MDX",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1800, 300],
      "parameters": {
        "functionCode": "let mdx = `---\\ntitle: Latest Livepeer Articles\\n---\\n\\n`;\n\nitems.forEach(post => {\n  mdx += `# ${post.json.title}\\n\\n`;\n  mdx += post.json.html + \"\\n\\n---\\n\\n\";\n});\n\nreturn [{ json: { mdx }}];"
      }
    },
    {
      "id": "WriteGitHub",
      "name": "Write MDX to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2100, 300],
      "parameters": {
        "url": "=https://api.github.com/repos/Developerally/livepeer-docs/contents/docs/n8n/blog/latest.mdx",
        "method": "PUT",
        "authentication": "predefinedCredentialType",
        "genericAuthType": "githubApi",
        "bodyParameters": [
          { "name": "message", "value": "Update latest blog posts (automated via n8n)" },
          { "name": "content", "value": "={{Buffer.from($json.mdx).toString('base64')}}" },
          { "name": "branch", "value": "main" }
        ],
        "responseFormat": "json"
      },
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [ [ { "node": "List Posts", "type": "main" } ] ] },
    "List Posts": { "main": [ [ { "node": "Extract Post IDs", "type": "main" } ] ] },
    "Extract Post IDs": { "main": [ [ { "node": "Fetch Full Post", "type": "main" } ] ] },
    "Fetch Full Post": { "main": [ [ { "node": "HTML → MDX Sanitizer", "type": "main" } ] ] },
    "HTML → MDX Sanitizer": { "main": [ [ { "node": "Build Combined MDX", "type": "main" } ] ] },
    "Build Combined MDX": { "main": [ [ { "node": "Write MDX to GitHub", "type": "main" } ] ] }
  }
}
