blog/n8n/paragraph-to-mintlify.json
{
  "name": "Fetch Latest 4 Livepeer Paragraph Posts",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://paragraph.com/api/publications/iPSfmIGHQ4xSr3vesziM/posts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "4"
            },
            {
              "name": "status",
              "value": "published"
            },
            {
              "name": "orderBy",
              "value": "publishedAt"
            },
            {
              "name": "orderDirection",
              "value": "desc"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-list",
      "name": "List Latest 4 Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-posts",
      "name": "Split Posts Array",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://paragraph.com/api/posts/{{ $json.id }}",
        "options": {}
      },
      "id": "http-request-full",
      "name": "Get Full Post Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "combine-results",
      "name": "Combine All Posts",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process and clean up the blog post data\nconst posts = items.map(item => {\n  const post = item.json;\n  \n  return {\n    id: post.id,\n    title: post.title,\n    slug: post.slug,\n    url: `https://paragraph.com/@livepeer-2/${post.slug}`,\n    publishedAt: post.publishedAt,\n    updatedAt: post.updatedAt,\n    summary: post.summary || post.subtitle || '',\n    \n    // Content fields\n    contentMarkdown: post.markdown || '',\n    contentHtml: post.html || '',\n    contentText: post.text || '',\n    \n    // Metadata\n    author: post.author || 'Livepeer',\n    tags: post.tags || [],\n    \n    // Engagement metrics\n    views: post.views || 0,\n    likes: post.likes || 0,\n    comments: post.commentsCount || 0,\n    \n    // Media\n    coverImage: post.coverImageUrl || post.featuredImage || '',\n    images: post.images || [],\n    \n    // Additional info\n    readingTime: post.readingTime || null,\n    wordCount: post.wordCount || null,\n    isPremium: post.isPremium || false,\n    isPublished: post.status === 'published'\n  };\n});\n\nreturn posts;"
      },
      "id": "code-process",
      "name": "Process & Clean Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "json",
        "options": {
          "fileName": "=livepeer_latest_posts_{{ $now.format('yyyy-MM-dd_HH-mm-ss') }}.json"
        }
      },
      "id": "save-to-file",
      "name": "Save as JSON File",
      "type": "n8n-nodes-base.conversionNodes",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "webhook_url",
              "value": "YOUR_WEBHOOK_URL_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "config-node",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [250, 100],
      "notesInFlow": true,
      "notes": "Update with your webhook URL or API endpoint for sending the data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Configuration'].json['webhook_url'] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "posts",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "source",
              "value": "livepeer-paragraph"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 4
            }
          }
        }
      },
      "id": "webhook-send",
      "name": "Send to Webhook (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400],
      "disabled": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Latest 4 Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Latest 4 Posts": {
      "main": [
        [
          {
            "node": "Split Posts Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Posts Array": {
      "main": [
        [
          {
            "node": "Get Full Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Post Content": {
      "main": [
        [
          {
            "node": "Combine All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Posts": {
      "main": [
        [
          {
            "node": "Process & Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Clean Data": {
      "main": [
        [
          {
            "node": "Save as JSON File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Webhook (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
