blog/n8n/paragraph-to-mintlify.json
{
  "name": "Fetch Latest 4 Livepeer Paragraph Posts",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://public.api.paragraph.com/api/v1/publications/iPSfmIGHQ4xSr3vesziM/posts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "4"
            },
            {
              "name": "status",
              "value": "published"
            },
            {
              "name": "orderBy",
              "value": "publishedAt"
            },
            {
              "name": "orderDirection",
              "value": "desc"
            },
            {
              "name": "includeContent",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "list-posts",
      "name": "List Latest 4 Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract the posts array from the response\nconst response = items[0].json;\nconst posts = response.data || response.posts || response;\n\n// Process each post to extract full content\nconst processedPosts = posts.map(post => {\n  return {\n    id: post.id,\n    title: post.title,\n    slug: post.slug,\n    url: `https://paragraph.com/@livepeer-2/${post.slug}`,\n    publishedAt: post.publishedAt,\n    updatedAt: post.updatedAt,\n    \n    // Content fields - check different possible field names\n    content: {\n      markdown: post.markdown || post.content?.markdown || post.body?.markdown || '',\n      html: post.html || post.content?.html || post.body?.html || '',\n      text: post.text || post.content?.text || post.body?.text || post.plainText || ''\n    },\n    \n    // Summary/excerpt\n    summary: post.summary || post.subtitle || post.excerpt || '',\n    \n    // Author information\n    author: post.author || post.authorName || 'Livepeer',\n    \n    // Media\n    coverImage: post.coverImageUrl || post.featuredImage || post.coverImage || '',\n    \n    // Metadata\n    tags: post.tags || [],\n    categories: post.categories || [],\n    \n    // Engagement (if available)\n    stats: {\n      views: post.views || 0,\n      likes: post.likes || 0,\n      comments: post.commentsCount || 0\n    },\n    \n    // Additional fields\n    isPremium: post.isPremium || false,\n    isPublished: post.status === 'published' || true,\n    readingTime: post.readingTime || null\n  };\n});\n\nreturn processedPosts;"
      },
      "id": "process-posts",
      "name": "Process Posts Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "write",
        "fileName": "=livepeer_posts_{{ $now.format('yyyy-MM-dd_HHmmss') }}.json",
        "filePath": "=/tmp/",
        "options": {}
      },
      "id": "write-file",
      "name": "Write to File",
      "type": "n8n-nodes-base.filesystem",
      "typeVersion": 1,
      "position": [850, 200],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "output",
              "value": "={{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Latest 4 Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Latest 4 Posts": {
      "main": [
        [
          {
            "node": "Process Posts Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Posts Data": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
