discord/announcements/n8n-workflow-top-weekly.json
{
  "name": "Discourse Top Weekly → Original Post Top 4 Only → MDX",
  "nodes": [
    {
      "id": 1,
      "name": "Cron Top Weekly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "triggerTimes": [
          { "hour": 9, "minute": 10 }
        ]
      }
    },
    {
      "id": 2,
      "name": "Fetch Top Weekly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://forum.livepeer.org/top/weekly.json",
        "responseFormat": "json"
      }
    },
    {
      "id": 3,
      "name": "Extract Topic IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300],
      "parameters": {
        "functionCode": "const topics = items[0].json.topic_list?.topics || [];\nreturn topics.map(t => ({ json: { id: t.id, title: t.title } }));"
      }
    },
    {
      "id": 4,
      "name": "Fetch Topic JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1100, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://forum.livepeer.org/t/{{$json.id}}.json",
        "responseFormat": "json"
      }
    },
    {
      "id": 5,
      "name": "Extract Original Post Only",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1400, 300],
      "parameters": {
        "functionCode": "const topic = items[0].json;\nconst first = (topic.post_stream?.posts || []).find(p => p.post_number === 1);\nreturn [{ json: { id: topic.id, title: topic.title, url: `https://forum.livepeer.org/t/${topic.id}`, body: first?.cooked || \"\" } }];"
      }
    },
    {
      "id": 6,
      "name": "Merge Topics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [1700, 300],
      "parameters": { "mode": "multiplex" }
    },
    {
      "id": 7,
      "name": "Build MDX Top Weekly",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2000, 300],
      "parameters": {
        "functionCode": "let mdx = `## Top Weekly Forum Topics\\\\n\\\\n`;\nfor (const t of items) {\n  mdx += `### [${t.json.title}](${t.json.url})\\\\n\\\\n`;\n  mdx += (t.json.body || \"\") + \"\\\\n\\\\n---\\\\n\\\\n\";\n}\nreturn [{ json: { fileContent: mdx } }];"
      }
    },
    {
      "id": 8,
      "name": "Commit Top Weekly MDX",
      "type": "n8n-nodes-base.github",
      "typeVersion": 2,
      "position": [2300, 300],
      "credentials": {
        "githubApi": { "name": "GitHub Repo Token" }
      },
      "parameters": {
        "resource": "file",
        "operation": "createOrUpdate",
        "owner": "developerally",
        "repository": "livepeer-docs",
        "filePath": "docs/forum/top-weekly.mdx",
        "fileContent": "={{$json.fileContent}}",
        "commitMessage": "Update top weekly topics (original post only)"
      }
    }
  ],
  "connections": {
    "Cron Top Weekly": { "main": [[{ "node": "Fetch Top Weekly", "type": "main", "index": 0 }]] },
    "Fetch Top Weekly": { "main": [[{ "node": "Extract Topic IDs", "type": "main", "index": 0 }]] },
    "Extract Topic IDs": { "main": [[{ "node": "Fetch Topic JSON", "type": "main", "index": 0 }]] },
    "Fetch Topic JSON": { "main": [[{ "node": "Extract Original Post Only", "type": "main", "index": 0 }]] },
    "Extract Original Post Only": { "main": [[{ "node": "Merge Topics", "type": "main", "index": 0 }]] },
    "Merge Topics": { "main": [[{ "node": "Build MDX Top Weekly", "type": "main", "index": 0 }]] },
    "Build MDX Top Weekly": { "main": [[{ "node": "Commit Top Weekly MDX", "type": "main", "index": 0 }]] }
  }
}
