discord/announcements/n8n-workflow-latest.json
{
  "name": "Discourse Latest → Full MDX (4 posts per topic)",
  "nodes": [
    {
      "id": 1,
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "triggerTimes": [
          {
            "hour": 9,
            "minute": 0
          }
        ]
      }
    },
    {
      "id": 2,
      "name": "Fetch Latest Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://forum.livepeer.org/latest.json",
        "responseFormat": "json"
      }
    },
    {
      "id": 3,
      "name": "Extract Topic IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300],
      "parameters": {
        "functionCode": "const topics = items[0].json.topic_list.topics;\nreturn topics.map(t => ({ json: { id: t.id, title: t.title } }));"
      }
    },
    {
      "id": 4,
      "name": "Split Topics",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1100, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": 5,
      "name": "Fetch Full Topic JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1400, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://forum.livepeer.org/t/{{$json.id}}.json",
        "responseFormat": "json"
      }
    },
    {
      "id": 6,
      "name": "Extract First 4 Posts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1700, 300],
      "parameters": {
        "functionCode": "const topic = items[0].json;\nconst posts = topic.post_stream.posts.slice(0, 4).map(p => p.raw || \"\");\nreturn [{ json: { id: topic.id, title: topic.title, url: `https://forum.livepeer.org/t/${topic.id}`, posts } }];"
      }
    },
    {
      "id": 7,
      "name": "Merge All Topics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [2000, 300],
      "parameters": {
        "mode": "multiplex"
      }
    },
    {
      "id": 8,
      "name": "Build MDX",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2300, 300],
      "parameters": {
        "functionCode": "let mdx = `## Latest Forum Topics\\\\n\\\\n`;\n\nfor (const t of items) {\n  mdx += `### [${t.json.title}](${t.json.url})\\\\n\\\\n`;\n  for (const post of t.json.posts) {\n    if (!post) continue;\n    mdx += post + \"\\\\n\\\\n---\\\\n\\\\n\";\n  }\n}\n\nreturn [{ json: { fileContent: mdx } }];"
      }
    },
    {
      "id": 9,
      "name": "Commit MDX to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 2,
      "position": [2600, 300],
      "credentials": {
        "githubApi": {
          "name": "GitHub Repo Token"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "createOrUpdate",
        "owner": "developerally",
        "repository": "livepeer-docs",
        "filePath": "docs/forum/latest.mdx",
        "fileContent": "={{$json.fileContent}}",
        "commitMessage": "Update latest topics with full post content"
      }
    }
  ],
  "connections": {
    "Cron": { "main": [[{ "node": "Fetch Latest Topics", "type": "main", "index": 0 }]] },
    "Fetch Latest Topics": { "main": [[{ "node": "Extract Topic IDs", "type": "main", "index": 0 }]] },
    "Extract Topic IDs": { "main": [[{ "node": "Split Topics", "type": "main", "index": 0 }]] },
    "Split Topics": {
      "main": [
        [{ "node": "Fetch Full Topic JSON", "type": "main", "index": 0 }],
        [{ "node": "Merge All Topics", "type": "main", "index": 1 }]
      ]
    },
    "Fetch Full Topic JSON": { "main": [[{ "node": "Extract First 4 Posts", "type": "main", "index": 0 }]] },
    "Extract First 4 Posts": { "main": [[{ "node": "Merge All Topics", "type": "main", "index": 0 }]] },
    "Merge All Topics": { "main": [[{ "node": "Build MDX", "type": "main", "index": 0 }]] },
    "Build MDX": { "main": [[{ "node": "Commit MDX to GitHub", "type": "main", "index": 0 }]] }
  }
}
