discord/announcements/n8n-workflow-top-weekly.json
{
  "name": "Discourse Top Weekly → Full MDX (4 posts)",
  "nodes": [
    {
      "id": 1,
      "name": "Cron Top Weekly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "triggerTimes": [
          { "hour": 9, "minute": 10 }
        ]
      }
    },
    {
      "id": 2,
      "name": "Fetch Top Weekly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://forum.livepeer.org/top/weekly.json",
        "responseFormat": "json"
      }
    },
    {
      "id": 3,
      "name": "Extract Topic IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300],
      "parameters": {
        "functionCode": "const topics = items[0].json.topic_list?.topics || [];\nreturn topics.map(t => ({\n  json: {\n    id: t.id,\n    title: t.title\n  }\n}));"
      }
    },
    {
      "id": 4,
      "name": "Fetch Topic JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1100, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://forum.livepeer.org/t/{{$json[\"id\"]}}.json",
        "responseFormat": "json"
      }
    },
    {
      "id": 5,
      "name": "Extract First 4 Posts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1400, 300],
      "parameters": {
        "functionCode": "const out = items.map(item => {\n  const topic = item.json;\n  const posts = (topic.post_stream?.posts || [])\n    .slice(0, 4)\n    .map(p => p.cooked || \"\");\n  return {\n    json: {\n      id: topic.id,\n      title: topic.title,\n      url: `https://forum.livepeer.org/t/${topic.id}`,\n      posts\n    }\n  };\n});\nreturn out;"
      }
    },
    {
      "id": 6,
      "name": "Build MDX Top Weekly",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1700, 300],
      "parameters": {
        "functionCode": "let mdx = `## Top Weekly Forum Topics\\\\n\\\\n`;\nfor (const item of items) {\n  const { title, url, posts } = item.json;\n  mdx += `### [${title}](${url})\\\\n\\\\n`;\n  for (const html of posts) {\n    if (!html) continue;\n    mdx += html + \"\\\\n\\\\n---\\\\n\\\\n\";\n  }\n}\nreturn [{ json: { fileContent: mdx } }];"
      }
    },
    {
      "id": 7,
      "name": "GitHub Top Weekly MDX",
      "type": "n8n-nodes-base.github",
      "typeVersion": 2,
      "position": [2000, 300],
      "credentials": {
        "githubApi": {
          "name": "GitHub Repo Token"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "createOrUpdate",
        "owner": "developerally",
        "repository": "livepeer-docs",
        "filePath": "docs/forum/top-weekly.mdx",
        "fileContent": "={{$json[\"fileContent\"]}}",
        "commitMessage": "Auto-update top weekly forum topics (full posts, cooked HTML)"
      }
    }
  ],
  "connections": {
    "Cron Top Weekly": {
      "main": [[{ "node": "Fetch Top Weekly", "type": "main", "index": 0 }]]
    },
    "Fetch Top Weekly": {
      "main": [[{ "node": "Extract Topic IDs", "type": "main", "index": 0 }]]
    },
    "Extract Topic IDs": {
      "main": [[{ "node": "Fetch Topic JSON", "type": "main", "index": 0 }]]
    },
    "Fetch Topic JSON": {
      "main": [[{ "node": "Extract First 4 Posts", "type": "main", "index": 0 }]]
    },
    "Extract First 4 Posts": {
      "main": [[{ "node": "Build MDX Top Weekly", "type": "main", "index": 0 }]]
    },
    "Build MDX Top Weekly": {
      "main": [[{ "node": "GitHub Top Weekly MDX", "type": "main", "index": 0 }]]
    }
  }
}
