forum/n8n/n8n-workflow-top-weekly.json
{
  "name": "Livepeer Forum Top Weekly → Top 4 → MDX (With Author)",
  "nodes": [
    {
      "id": "1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [200, 450],
      "parameters": {
        "triggerTimes": [
          {
            "hour": 11,
            "minute": 0
          }
        ]
      },
      "typeVersion": 1
    },
    {
      "id": "2",
      "name": "Fetch Top Weekly",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 450],
      "parameters": {
        "url": "https://forum.livepeer.org/top/weekly.json",
        "method": "GET",
        "responseFormat": "json"
      },
      "typeVersion": 1
    },
    {
      "id": "3",
      "name": "Extract Topics List",
      "type": "n8n-nodes-base.function",
      "position": [700, 450],
      "parameters": {
        "functionCode": "const list = items[0].json.topic_list?.topics || [];
return list.map(t => ({ json: t }));"
      },
      "typeVersion": 1
    },
    {
      "id": "4",
      "name": "Filter Top 4 (Exclude Old Pinned)",
      "type": "n8n-nodes-base.function",
      "position": [950, 450],
      "parameters": {
        "functionCode": "function isOldPinned(t) {
  const pinned = t.json.pinned === true || t.json.pinned_globally === true;
  if (!pinned) return false;
  const created = new Date(t.json.created);
  const now = new Date();
  const days = (now - created) / (1000*60*60*24);
  return days > 365;
}\n\nconst list = items.map(i => i.json);
const filtered = list.filter(t => !isOldPinned({ json: t }));
filtered.sort((a,b) => new Date(b.bumped_at) - new Date(a.bumped_at));
return filtered.slice(0,4).map(t => ({ json: t }));"
      },
      "typeVersion": 1
    },
    {
      "id": "5",
      "name": "Fetch Topic JSON",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 450],
      "parameters": {
        "url": "={{`https://forum.livepeer.org/t/${$json.id}.json`}}",
        "method": "GET",
        "responseFormat": "json"
      },
      "typeVersion": 1
    },
    {
      "id": "6",
      "name": "Extract Original Post + Author",
      "type": "n8n-nodes-base.function",
      "position": [1450, 450],
      "parameters": {
        "functionCode": "return items.map(item => {
  const topic = item.json;
  const first = topic.post_stream?.posts?.find(p => p.post_number === 1);
\n  return {
    json: {
      id: topic.id,
      title: topic.title,
      url: topic.slug ? `https://forum.livepeer.org/t/${topic.slug}/${topic.id}` : topic.url,
      excerpt: first?.cooked || '',
      author: first?.username || first?.name || null
    }
  };
});"
      },
      "typeVersion": 1
    },
    {
      "id": "7",
      "name": "Aggregate Topics",
      "type": "n8n-nodes-base.function",
      "position": [1700, 450],
      "parameters": {
        "functionCode": "return [{ json: { topics: items.map(i => i.json) } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "8",
      "name": "Build MDX",
      "type": "n8n-nodes-base.function",
      "position": [1950, 450],
      "parameters": {
        "functionCode": "const topics = items[0].json.topics;
let mdx = `## Top Weekly Forum Topics\n\n`;
\nfor (const t of topics) {
  mdx += `### [${t.title}](${t.url})\n\n`;
  mdx += `_${t.author || 'Unknown'}_\n\n`;
  mdx += `${t.excerpt.slice(0,200).replace(/\n/g,' ')}\n\n`;
}\n\nreturn [{ json: { fileContent: mdx } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "9",
      "name": "Commit MDX to GitHub",
      "type": "n8n-nodes-base.github",
      "position": [2200, 450],
      "parameters": {
        "resource": "file",
        "operation": "createOrUpdate",
        "owner": "developerally",
        "repository": "livepeer-docs",
        "filePath": "docs/forum/top-weekly.mdx",
        "fileContent": "={{$json.fileContent}}",
        "commitMessage": "Update Top Weekly forum topics (top 4, no replies, old-pinned excluded, author added)"
      },
      "credentials": {
        "githubApi": {
          "id": "github-api"
        }
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "Cron": { "main": [[{ "node": "Fetch Top Weekly", "type": "main", "index": 0 }]] },
    "Fetch Top Weekly": { "main": [[{ "node": "Extract Topics List", "type": "main", "index": 0 }]] },
    "Extract Topics List": { "main": [[{ "node": "Filter Top 4 (Exclude Old Pinned)", "type": "main", "index": 0 }]] },
    "Filter Top 4 (Exclude Old Pinned)": { "main": [[{ "node": "Fetch Topic JSON", "type": "main", "index": 0 }]] },
    "Fetch Topic JSON": { "main": [[{ "node": "Extract Original Post + Author", "type": "main", "index": 0 }]] },
    "Extract Original Post + Author": { "main": [[{ "node": "Aggregate Topics", "type": "main", "index": 0 }]] },
    "Aggregate Topics": { "main": [[{ "node": "Build MDX", "type": "main", "index": 0 }]] },
    "Build MDX": { "main": [[{ "node": "Commit MDX to GitHub", "type": "main", "index": 0 }]] }
  }
}